body {
    /*background-color: #C1EDFF;*/
    /*background-color: white;*/
    background-color: #fffbf1;
    font-family: 'Segoe UI', sans-serif;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
    /*background-color: #c2f2ff;*/
}

.hide {
    display: none;
}

header {
    background-color: #AEE4ED;
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
}

    /*כותרת משחק*/
    header > a > p {
        font-family: 'Segoe UI', sans-serif;
        font-size: 16pt;
        font-weight: 600;
        position: relative;
        top: -10px;
        color: white;
        display: inline-block;
        direction: rtl;
    }

/*לוגו*/
#logo {
    width: 35px;
    height: 35px;
    padding: 5px 15px;
    direction: rtl;
    
}

nav {
    margin-top: -70px;
    margin-left: 10px;
    direction: rtl;
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
            
        }

            nav ul li a {
                display: block;
                color: rgb(30, 104, 177);
                text-align: center;
                padding: 3px 10px;
                font-weight: 400;
                font-size: 12pt;
                font-family: 'Segoe UI', sans-serif;
                direction: rtl;
                text-decoration: none;
                color:white;
            }
            
                nav ul li a:hover {
                    font-weight: 600;
                    cursor: pointer;
                    font-family: 'Segoe UI', sans-serif;
                    direction: rtl;
                    text-decoration: none;
                }

.popUp {
    /*background-image: url("../images/bg1.png");*/
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    position: fixed;
    top: 60px;
    z-index: 4;
    text-align: center;
    width: 800px;
    height: 600px;
    border-radius: 25px;
    padding: 0px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    top: 59px;
    /*border: 1px solid black;*/

}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

a.closeAbout {
    font-size: 25px;
    margin: 300px;
    z-index: 2;
    position: relative;
    left: 350px;
    top: 80px;
}


a.closeHowToPlay {
    font-size: 25px;
    margin: 300px;
    z-index: 2;
    position: relative;
    left: 350px;
    top: 102px;
}

#link {
    font-size: 25.5px;
    margin: 200px;
    z-index: 2;
    position: relative;
    left: -14px;
    top:-184px;
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
